.DS_Store
.atom/
.idea
.packages
.dart_tool/
.pub/
build/
ios/.generated/
packages
pubspec.lock
.fvm
.vscode
example/.vscode/settings.json
example/android/gradle/wrapper/gradle-wrapper.jar
example/android/gradlew
example/android/gradlew.bat
example/ios/Flutter/flutter_export_environment.sh
